$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  background-color: $darkCyan;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 48vw bottom 40vh, left 45vw top 48vh;
  background-size: 70%;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.card {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 400px;
  text-align: center;

  &__header {
    width: 100%;
    height: 125px;
    background: url(/images/bg-pattern-card.svg);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
  }

  &__body {
    border-radius: 0px 0px 10px 10px;
    background: white;
  }

  &__image {
    margin: -50px;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 20px;
  }

  &__name h1 {
    font-size: 18px;
    text-align: center;
    color: $veryDarkDesaturatedBlue;
    font-weight: 700;
  }

  &__age {
    color: $darkGrayishBlue;
    font-weight: 400;
  }

  &__location {
    margin-top: 10px;
    margin-bottom: 20px;
    color: $darkGrayishBlue;
  }

  &__stats {
    padding: 20px;
    border-top: 1px solid $darkGray;
    border-radius: 0px 0px 10px 10px;
    list-style: none;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__stats p:first-child {
    color: $veryDarkDesaturatedBlue;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  &__stats p:last-child {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: $darkGrayishBlue;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: $darkCyan;
    background-image: url(images/bg-pattern-top.svg),
      url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 60vw bottom 60vh, left 60vw top 60vh;
    background-size: 80%;
  }
}
